/* loading */
.woo-loading{height:40px;background:url(http://cdn.duitang.com/uploads/people/201307/30/20130730175612_KU2dF.gif) center 12px no-repeat;}

/* woo-pcont 为空节点时，ie6 ie7下，节点的高度不为0 */
.woo-pcont{+height:0}

/* masn 生效前设置不可见 */
.woo-masned{zoom:1;overflow:hidden;visibility:hidden;margin-left:auto;margin-right:auto;}

/* woo 基本单元块，初始状态不可见 */
.woo-masned .woo{position:absolute;top:-6000px;}


