/*
Name: Github
Description: Github like color.
Version: 1.0
Author: Dai Akatsuka
URL: http://firn.jp/
*/
.crayon-theme-github {
  margin-bottom: 25px !important;
  border: 1px solid #dedede !important;
  background-color: #f8f8ff !important;
  font-size: 100% !important;
  line-height: 130% !important;
}

.crayon-theme-github .crayon-toolbar {
  border-bottom: 1px solid #dedede !important;
  background-color: #eee !important;
}

.crayon-theme-github .crayon-toolbar .crayon-language,
.crayon-theme-github .crayon-toolbar .crayon-title {
  font-size: 80% !important;
  color: #666 !important;
}

.crayon-theme-github .crayon-table .crayon-nums {
  background-color: #eee !important;
}

.crayon-theme-github .crayon-table .crayon-nums-content {
  padding-top: 5px !important;
  padding-bottom: 3px !important;
}

.crayon-theme-github .crayon-table .crayon-num {
  min-width: 1.2em !important;
  border-right: 1px solid #dedede !important;
  text-align: right !important;
  color: #aaa !important;
}

.crayon-theme-github .crayon-pre {
  padding-top: 5px !important;
  padding-bottom: 3px !important;
}

.crayon-theme-github .crayon-marked-line {
	background: #fffee2 !important;

}
.crayon-theme-github .crayon-marked-num {
	color: #1561ac !important;
	background: #b3d3f4 !important;
  border-width: 1px !important;
  border-color: #5999d9 !important;
}

.crayon-theme-github .crayon-pre .crayon-c {
	color: #999 !important;
  font-style: italic !important;
}
.crayon-theme-github .crayon-pre .crayon-s {
  color: #d14 !important;
}
.crayon-theme-github .crayon-pre .crayon-p {
	color: #b85c00 !important;
}
.crayon-theme-github .crayon-pre .crayon-ta {
    color: #FF0000 !important;
}
.crayon-theme-github .crayon-pre .crayon-k {
  color: teal !important;
}
.crayon-theme-github .crayon-pre .crayon-st {
  color: #000 !important;
  font-weight: bold !important;
}
.crayon-theme-github .crayon-pre .crayon-r {
  color: #000 !important;
  font-weight: bold !important;
}
.crayon-theme-github .crayon-pre .crayon-t {
	color: #800080 !important;
  font-weight: bold !important;
}
.crayon-theme-github .crayon-pre .crayon-m {
	color: #800080 !important;
}
.crayon-theme-github .crayon-pre .crayon-i {
	color: #000 !important;
}
.crayon-theme-github .crayon-pre .crayon-e {
  color: teal !important;
}
.crayon-theme-github .crayon-pre .crayon-v {
	color: #002D7A !important;
}
.crayon-theme-github .crayon-pre .crayon-cn {
	color: #099 !important;
}
.crayon-theme-github .crayon-pre .crayon-o {
	color: #006fe0 !important;
}
.crayon-theme-github .crayon-pre .crayon-sy {
    color: #333 !important;
}
.crayon-theme-github .crayon-pre .crayon-n {
    color: #666 !important;
    font-style: italic;
}
.crayon-theme-github .crayon-pre .crayon-f {
	color: #999 !important;
}
.crayon-theme-github .crayon-pre .crayon-h {
    color: #006fe0 !important;
}
